@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width:700px;
        height: 600px;
        background-color:red;
    }
}

@media (min-width: 300px) and (min-height: 401px) {
    .Burger {
        width:100px;
        height: 400px;
        background-color:blue;
    }
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width:350px;
        height: 300px;
        background-color:green;
    }
}